<!--
Picture from
https://augustauniversity.photoshelter.com/galleries/C0000C4vnUYhbyOg/G0000aTY5cvIc4qI/Summerville-Buildings
-->
<img style="height:20%; width:100%" src="{{ site.baseurl }}/images/back_crop.jpg" alt="The University Hall building, on the Summerville Campus.">

<div class="container-fluid ml-md-1" style="background-color:var(--au-blue);">
<nav class="navbar navbar-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.baseurl }}/events/2023/index">SERPL 2023</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#siteNavigation" aria-controls="siteNavigation"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="siteNavigation">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/events/2023/call">Call for Papers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/events/2023/travel-support">Student Travel Support</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/events/2023/attending">Local Arrangements</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/events/2023/registration">Registration</a></li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/serpl/code-of-conduct.html">Code of Conduct</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Series
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"
                   href="{{ site.baseurl }}/serpl/about">About SERPL</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item"
                   target="_blank" rel="noopener noreferrer nofollow"
                   href="https://the-au-forml-lab.github.io/SERPL2019/">SERPL 2019</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
