<!--
Picture from
https://augustauniversity.photoshelter.com/galleries/C0000C4vnUYhbyOg/G0000aTY5cvIc4qI/Summerville-Buildings
-->
<img style="height:20%; width:100%" src="/SERPL/images/back_crop.jpg" alt="The University Hall building, on the Summerville Campus.">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/SERPL/">SERPL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/SERPL/code-of-conduct.html">Code of Conduct</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" href="programme.html">Programme</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="attending.html">Attending</a>
      </li>
      -->      
    </ul>
  </div>
</nav>
